@media (max-width: 688px){
    /* header */
    header {
        padding-inline: 32px;
    }

    header nav {
        display: none;
    }

    .header_action {
        display: none;
    }

    .burger{
        display: block;
    }


} 