@media (max-width: 688px){
    /* header */
    header {
        padding-inline: 32px;
    }

    header nav {
        display: none;
    }

    .header_action {
        display: none;
    }

    .burger{
        display: block;
    }

/* section1 */ 
    .section1{
        padding-inline: 66px;
    }

} 


@media (max-width: 625px){
/* section1 */

    .section1_content h2 {
        font-size: 24px;
        line-height: 32px;
    }


}

