@media (max-width :745px){

    /* section2 */
    .section2{
        padding: 24px;
    }

    .section2_content{
        flex-direction: column;
        text-align: center;   
    }

    /* .section3 */
    .section3{
        margin-inline: 24px;
        flex-direction: column;
        row-gap: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    }
    




@media (max-width: 688px){
    /* header */
    header {
        padding-inline: 32px;
    }

    header nav {
        display: none;
    }

    .header_action {
        display: none;
    }

    .burger{
        display: block;
    }

/* section1 */ 
    .section1{
        padding-inline: 66px;
    }

} 


@media (max-width: 625px){
/* section1 */

    .section1_content h2 {
        font-size: 24px;
        line-height: 32px;
    }




}


@media(max-width:530px){
    /* section2 */
    .section2_header{
        font-size: 18px;
        line-height: 26px;
        
    }

    .section2_text{
        font-size: 14px;
        line-height: 22px;
        
    }
}

